.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: css-var(--#{$variable-prefix}breadcrumb-padding-y, $breadcrumb-padding-y) css-var(--#{$variable-prefix}breadcrumb-padding-x, $breadcrumb-padding-x);
  margin-bottom: css-var(--#{$variable-prefix}breadcrumb-margin-bottom, $breadcrumb-margin-bottom);
  @include font-size($breadcrumb-font-size);
  list-style: none;
  background-color: css-var(--#{$variable-prefix}breadcrumb-bg, $breadcrumb-bg);
  @include border-radius($breadcrumb-border-radius);
}

.breadcrumb-item {
  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .breadcrumb-item {
    padding-left: css-var(--#{$variable-prefix}breadcrumb-item-padding-x, $breadcrumb-item-padding-x);

    &::before {
      float: left; // Suppress inline spacings and underlining of the separator
      padding-right: css-var(--#{$variable-prefix}breadcrumb-item-padding-x, $breadcrumb-item-padding-x);
      color: css-var(--#{$variable-prefix}breadcrumb-divider-color, $breadcrumb-divider-color);
      content: var(--#{$variable-prefix}breadcrumb-divider, escape-svg($breadcrumb-divider)) #{"/* rtl:"} var(--#{$variable-prefix}breadcrumb-divider, escape-svg($breadcrumb-divider-flipped)) #{"*/"};
    }
  }

  &.active {
    color: css-var(--#{$variable-prefix}breadcrumb-active-color, $breadcrumb-active-color);
  }
}
