/*
-------------------------------------------------------------------------------
18. Breadcrumb [hm-18]
-------------------------------------------------------------------------------
*/

.breadcrumb {
    padding: var(--breadcrumb-padding);
    background-color: var(--lm-breadcrumb-bg-color);
    border: var(--breadcrumb-border-width) solid var(--lm-breadcrumb-border-color);
    border-radius: var(--breadcrumb-border-radius);
}
.dark-mode .breadcrumb {
    background-color: var(--dm-breadcrumb-bg-color);
    border-color: var(--dm-breadcrumb-border-color);
}
.breadcrumb-item {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
}
.breadcrumb-item:before {
    content: var(--breadcrumb-separator-content);
    margin-left: var(--breadcrumb-separator-margin-left);
    margin-right: var(--breadcrumb-separator-margin-right);
}
.breadcrumb-item:first-child:before {
    display: none;
}
.breadcrumb-item.active a {
    pointer-events: none;
    color: inherit;
}
.dark-mode .breadcrumb-item a {
    /* 
    Links are NOT antialiased because they are NOT light text on a dark bg.
    */ 
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}
.dark-mode .breadcrumb-item.active a {
    /*
    Active links ARE antialiased because they ARE light text on a dark bg.
    */ 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


