// transparent background and border properties included for button version.
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

.btn-close {
  box-sizing: content-box;
  width: css-var(--#{$variable-prefix}btn-close-width, $btn-close-width);
  height: css-var(--#{$variable-prefix}btn-close-height, $btn-close-height);
  padding: css-var(--#{$variable-prefix}btn-close-padding-y, $btn-close-padding-y) css-var(--#{$variable-prefix}btn-close-padding-x, $btn-close-padding-x);
  color: css-var(--#{$variable-prefix}btn-close-color, $btn-close-color);
  background: transparent escape-svg($btn-close-bg) center / $btn-close-width auto no-repeat; // include transparent for button elements
  border: 0; // for button elements
  @include border-radius();
  opacity: css-var(--#{$variable-prefix}btn-close-opacity, $btn-close-opacity);

  // Override <a>'s hover style
  &:hover {
    color: css-var(--#{$variable-prefix}btn-close-color, $btn-close-color);
    text-decoration: none;
    opacity: css-var(--#{$variable-prefix}btn-close-hover-opacity, $btn-close-hover-opacity);
  }

  &:focus {
    outline: 0;
    box-shadow: css-var(--#{$variable-prefix}btn-close-focus-shadow, $btn-close-focus-shadow);
    opacity: css-var(--#{$variable-prefix}btn-close-focus-opacity, $btn-close-focus-opacity);
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: css-var(--#{$variable-prefix}btn-close-disabled-opacity, $btn-close-disabled-opacity);
  }
}

.btn-close-white {
  filter: css-var(--#{$variable-prefix}btn-close-white-filter, $btn-close-white-filter);
}
