/*
-------------------------------------------------------------------------------
6.  Links [hm-06]
-------------------------------------------------------------------------------
*/

a {
    color: var(--lm-link-text-color);
    text-decoration: none;
}
a:hover {
    color: var(--lm-link-text-color-hover);
    text-decoration: underline;
}
.dark-mode a {
    color: var(--dm-link-text-color);
}
.dark-mode a:hover {
    color: var(--dm-link-text-color-hover);
}

/* Hyperlink (anti-aliasing removed in dark mode) */

.dark-mode .hyperlink {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

/* Underlined hyperlink */

.hyperlink-underline {
    text-decoration: underline;
}
.dark-mode .hyperlink-underline {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

