/*
-------------------------------------------------------------------------------
29. Position utilities [hm-29]
-------------------------------------------------------------------------------
*/

.position-static {
    position: static !important;
}
.position-relative {
    position: relative !important;
}
.position-absolute {
    position: absolute !important;
}
.position-fixed {
    position: fixed !important;
}
.position-sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
}
.top-0 {
    top: 0 !important;
}
.bottom-0 {
    bottom: 0 !important;
}
.left-0 {
    left: 0 !important;
}
.right-0 {
    right: 0 !important;
}
.top-auto {
    top: auto !important;
}
.bottom-auto {
    bottom: auto !important;
}
.left-auto {
    left: auto !important;
}
.right-auto {
    right: auto !important;
}
@media (min-width: 577px) {
    .position-sm-static {
        position: static !important;
    }
    .position-sm-relative {
        position: relative !important;
    }
    .position-sm-absolute {
        position: absolute !important;
    }
    .position-sm-fixed {
        position: fixed !important;
    }
    .position-sm-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
    }
    .top-sm-0 {
        top: 0 !important;
    }
    .bottom-sm-0 {
        bottom: 0 !important;
    }
    .left-sm-0 {
        left: 0 !important;
    }
    .right-sm-0 {
        right: 0 !important;
    }
    .top-sm-auto {
        top: auto !important;
    }
    .bottom-sm-auto {
        bottom: auto !important;
    }
    .left-sm-auto {
        left: auto !important;
    }
    .right-sm-auto {
        right: auto !important;
    }
}
@media (min-width: 769px) {
    .position-md-static {
        position: static !important;
    }
    .position-md-relative {
        position: relative !important;
    }
    .position-md-absolute {
        position: absolute !important;
    }
    .position-md-fixed {
        position: fixed !important;
    }
    .position-md-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
    }
    .top-md-0 {
        top: 0 !important;
    }
    .bottom-md-0 {
        bottom: 0 !important;
    }
    .left-md-0 {
        left: 0 !important;
    }
    .right-md-0 {
        right: 0 !important;
    }
    .top-md-auto {
        top: auto !important;
    }
    .bottom-md-auto {
        bottom: auto !important;
    }
    .left-md-auto {
        left: auto !important;
    }
    .right-md-auto {
        right: auto !important;
    }
}
@media (min-width: 993px) {
    .position-lg-static {
        position: static !important;
    }
    .position-lg-relative {
        position: relative !important;
    }
    .position-lg-absolute {
        position: absolute !important;
    }
    .position-lg-fixed {
        position: fixed !important;
    }
    .position-lg-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
    }
    .top-lg-0 {
        top: 0 !important;
    }
    .bottom-lg-0 {
        bottom: 0 !important;
    }
    .left-lg-0 {
        left: 0 !important;
    }
    .right-lg-0 {
        right: 0 !important;
    }
    .top-lg-auto {
        top: auto !important;
    }
    .bottom-lg-auto {
        bottom: auto !important;
    }
    .left-lg-auto {
        left: auto !important;
    }
    .right-lg-auto {
        right: auto !important;
    }
}
@media (min-width: 1201px) {
    .position-xl-static {
        position: static !important;
    }
    .position-xl-relative {
        position: relative !important;
    }
    .position-xl-absolute {
        position: absolute !important;
    }
    .position-xl-fixed {
        position: fixed !important;
    }
    .position-xl-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
    }
    .top-xl-0 {
        top: 0 !important;
    }
    .bottom-xl-0 {
        bottom: 0 !important;
    }
    .left-xl-0 {
        left: 0 !important;
    }
    .right-xl-0 {
        right: 0 !important;
    }
    .top-xl-auto {
        top: auto !important;
    }
    .bottom-xl-auto {
        bottom: auto !important;
    }
    .left-xl-auto {
        left: auto !important;
    }
    .right-xl-auto {
        right: auto !important;
    }
}


