/*
-------------------------------------------------------------------------------
27. Sizing utilities [hm-27]
-------------------------------------------------------------------------------
*/

/* Width */

.w-25 {
    width: 2.5rem !important;
}
.w-50 {
    width: 5rem !important;
}
.w-100 {
    width: 10rem !important;
}
.w-150 {
    width: 15rem !important;
}
.w-200 {
    width: 20rem !important;
}
.w-250 {
    width: 25rem !important;
}
.w-300 {
    width: 30rem !important;
}
.w-350 {
    width: 35rem !important;
}
.w-400 {
    width: 40rem !important;
}
.w-450 {
    width: 45rem !important;
}
.w-500 {
    width: 50rem !important;
}
.w-550 {
    width: 55rem !important;
}
.w-600 {
    width: 60rem !important;
}
.w-auto {
    width: auto !important;
}
.w-quarter {
    width: 25% !important;
}
.w-half {
    width: 50% !important;
}
.w-three-quarter {
    width: 75% !important;
}
.w-full {
    width: 100% !important;
}
.mw-full {
    max-width: 100% !important;
}
@media (min-width: 577px) {
    .w-sm-25 {
        width: 2.5rem !important;
    }
    .w-sm-50 {
        width: 5rem !important;
    }
    .w-sm-100 {
        width: 10rem !important;
    }
    .w-sm-150 {
        width: 15rem !important;
    }
    .w-sm-200 {
        width: 20rem !important;
    }
    .w-sm-250 {
        width: 25rem !important;
    }
    .w-sm-300 {
        width: 30rem !important;
    }
    .w-sm-350 {
        width: 35rem !important;
    }
    .w-sm-400 {
        width: 40rem !important;
    }
    .w-sm-450 {
        width: 45rem !important;
    }
    .w-sm-500 {
        width: 50rem !important;
    }
    .w-sm-550 {
        width: 55rem !important;
    }
    .w-sm-600 {
        width: 60rem !important;
    }
    .w-sm-auto {
        width: auto !important;
    }
    .w-sm-quarter {
        width: 25% !important;
    }
    .w-sm-half {
        width: 50% !important;
    }
    .w-sm-three-quarter {
        width: 75% !important;
    }
    .w-sm-full {
        width: 100% !important;
    }
    .mw-sm-full {
        max-width: 100% !important;
    }
}
@media (min-width: 769px) {
    .w-md-25 {
        width: 2.5rem !important;
    }
    .w-md-50 {
        width: 5rem !important;
    }
    .w-md-100 {
        width: 10rem !important;
    }
    .w-md-150 {
        width: 15rem !important;
    }
    .w-md-200 {
        width: 20rem !important;
    }
    .w-md-250 {
        width: 25rem !important;
    }
    .w-md-300 {
        width: 30rem !important;
    }
    .w-md-350 {
        width: 35rem !important;
    }
    .w-md-400 {
        width: 40rem !important;
    }
    .w-md-450 {
        width: 45rem !important;
    }
    .w-md-500 {
        width: 50rem !important;
    }
    .w-md-550 {
        width: 55rem !important;
    }
    .w-md-600 {
        width: 60rem !important;
    }
    .w-md-auto {
        width: auto !important;
    }
    .w-md-quarter {
        width: 25% !important;
    }
    .w-md-half {
        width: 50% !important;
    }
    .w-md-three-quarter {
        width: 75% !important;
    }
    .w-md-full {
        width: 100% !important;
    }
    .mw-md-full {
        max-width: 100% !important;
    }
}
@media (min-width: 993px) {
    .w-lg-25 {
        width: 2.5rem !important;
    }
    .w-lg-50 {
        width: 5rem !important;
    }
    .w-lg-100 {
        width: 10rem !important;
    }
    .w-lg-150 {
        width: 15rem !important;
    }
    .w-lg-200 {
        width: 20rem !important;
    }
    .w-lg-250 {
        width: 25rem !important;
    }
    .w-lg-300 {
        width: 30rem !important;
    }
    .w-lg-350 {
        width: 35rem !important;
    }
    .w-lg-400 {
        width: 40rem !important;
    }
    .w-lg-450 {
        width: 45rem !important;
    }
    .w-lg-500 {
        width: 50rem !important;
    }
    .w-lg-550 {
        width: 55rem !important;
    }
    .w-lg-600 {
        width: 60rem !important;
    }
    .w-lg-auto {
        width: auto !important;
    }
    .w-lg-quarter {
        width: 25% !important;
    }
    .w-lg-half {
        width: 50% !important;
    }
    .w-lg-three-quarter {
        width: 75% !important;
    }
    .w-lg-full {
        width: 100% !important;
    }
    .mw-lg-full {
        max-width: 100% !important;
    }
}
@media (min-width: 1201px) {
    .w-xl-25 {
        width: 2.5rem !important;
    }
    .w-xl-50 {
        width: 5rem !important;
    }
    .w-xl-100 {
        width: 10rem !important;
    }
    .w-xl-150 {
        width: 15rem !important;
    }
    .w-xl-200 {
        width: 20rem !important;
    }
    .w-xl-250 {
        width: 25rem !important;
    }
    .w-xl-300 {
        width: 30rem !important;
    }
    .w-xl-350 {
        width: 35rem !important;
    }
    .w-xl-400 {
        width: 40rem !important;
    }
    .w-xl-450 {
        width: 45rem !important;
    }
    .w-xl-500 {
        width: 50rem !important;
    }
    .w-xl-550 {
        width: 55rem !important;
    }
    .w-xl-600 {
        width: 60rem !important;
    }
    .w-xl-auto {
        width: auto !important;
    }
    .w-xl-quarter {
        width: 25% !important;
    }
    .w-xl-half {
        width: 50% !important;
    }
    .w-xl-three-quarter {
        width: 75% !important;
    }
    .w-xl-full {
        width: 100% !important;
    }
    .mw-xl-full {
        max-width: 100% !important;
    }
}

/* Height */

.h-25 {
    height: 2.5rem !important;
}
.h-50 {
    height: 5rem !important;
}
.h-100 {
    height: 10rem !important;
}
.h-150 {
    height: 15rem !important;
}
.h-200 {
    height: 20rem !important;
}
.h-250 {
    height: 25rem !important;
}
.h-300 {
    height: 30rem !important;
}
.h-350 {
    height: 35rem !important;
}
.h-400 {
    height: 40rem !important;
}
.h-450 {
    height: 45rem !important;
}
.h-500 {
    height: 50rem !important;
}
.h-550 {
    height: 55rem !important;
}
.h-600 {
    height: 60rem !important;
}
.h-auto {
    height: auto !important;
}
.h-quarter {
    height: 25% !important;
}
.h-half {
    height: 50% !important;
}
.h-three-quarter {
    height: 75% !important;
}
.h-full {
    height: 100% !important;
}
.mh-full {
    max-height: 100% !important;
}
@media (min-width: 577px) {
    .h-sm-25 {
        height: 2.5rem !important;
    }
    .h-sm-50 {
        height: 5rem !important;
    }
    .h-sm-100 {
        height: 10rem !important;
    }
    .h-sm-150 {
        height: 15rem !important;
    }
    .h-sm-200 {
        height: 20rem !important;
    }
    .h-sm-250 {
        height: 25rem !important;
    }
    .h-sm-300 {
        height: 30rem !important;
    }
    .h-sm-350 {
        height: 35rem !important;
    }
    .h-sm-400 {
        height: 40rem !important;
    }
    .h-sm-450 {
        height: 45rem !important;
    }
    .h-sm-500 {
        height: 50rem !important;
    }
    .h-sm-550 {
        height: 55rem !important;
    }
    .h-sm-600 {
        height: 60rem !important;
    }
    .h-sm-auto {
        height: auto !important;
    }
    .h-sm-quarter {
        height: 25% !important;
    }
    .h-sm-half {
        height: 50% !important;
    }
    .h-sm-three-quarter {
        height: 75% !important;
    }
    .h-sm-full {
        height: 100% !important;
    }
    .mh-sm-full {
        max-height: 100% !important;
    }
}
@media (min-width: 769px) {
    .h-md-25 {
        height: 2.5rem !important;
    }
    .h-md-50 {
        height: 5rem !important;
    }
    .h-md-100 {
        height: 10rem !important;
    }
    .h-md-150 {
        height: 15rem !important;
    }
    .h-md-200 {
        height: 20rem !important;
    }
    .h-md-250 {
        height: 25rem !important;
    }
    .h-md-300 {
        height: 30rem !important;
    }
    .h-md-350 {
        height: 35rem !important;
    }
    .h-md-400 {
        height: 40rem !important;
    }
    .h-md-450 {
        height: 45rem !important;
    }
    .h-md-500 {
        height: 50rem !important;
    }
    .h-md-550 {
        height: 55rem !important;
    }
    .h-md-600 {
        height: 60rem !important;
    }
    .h-md-auto {
        height: auto !important;
    }
    .h-md-quarter {
        height: 25% !important;
    }
    .h-md-half {
        height: 50% !important;
    }
    .h-md-three-quarter {
        height: 75% !important;
    }
    .h-md-full {
        height: 100% !important;
    }
    .mh-md-full {
        max-height: 100% !important;
    }
}
@media (min-width: 993px) {
    .h-lg-25 {
        height: 2.5rem !important;
    }
    .h-lg-50 {
        height: 5rem !important;
    }
    .h-lg-100 {
        height: 10rem !important;
    }
    .h-lg-150 {
        height: 15rem !important;
    }
    .h-lg-200 {
        height: 20rem !important;
    }
    .h-lg-250 {
        height: 25rem !important;
    }
    .h-lg-300 {
        height: 30rem !important;
    }
    .h-lg-350 {
        height: 35rem !important;
    }
    .h-lg-400 {
        height: 40rem !important;
    }
    .h-lg-450 {
        height: 45rem !important;
    }
    .h-lg-500 {
        height: 50rem !important;
    }
    .h-lg-550 {
        height: 55rem !important;
    }
    .h-lg-600 {
        height: 60rem !important;
    }
    .h-lg-auto {
        height: auto !important;
    }
    .h-lg-quarter {
        height: 25% !important;
    }
    .h-lg-half {
        height: 50% !important;
    }
    .h-lg-three-quarter {
        height: 75% !important;
    }
    .h-lg-full {
        height: 100% !important;
    }
    .mh-lg-full {
        max-height: 100% !important;
    }
}
@media (min-width: 1201px) {
    .h-xl-25 {
        height: 2.5rem !important;
    }
    .h-xl-50 {
        height: 5rem !important;
    }
    .h-xl-100 {
        height: 10rem !important;
    }
    .h-xl-150 {
        height: 15rem !important;
    }
    .h-xl-200 {
        height: 20rem !important;
    }
    .h-xl-250 {
        height: 25rem !important;
    }
    .h-xl-300 {
        height: 30rem !important;
    }
    .h-xl-350 {
        height: 35rem !important;
    }
    .h-xl-400 {
        height: 40rem !important;
    }
    .h-xl-450 {
        height: 45rem !important;
    }
    .h-xl-500 {
        height: 50rem !important;
    }
    .h-xl-550 {
        height: 55rem !important;
    }
    .h-xl-600 {
        height: 60rem !important;
    }
    .h-xl-auto {
        height: auto !important;
    }
    .h-xl-quarter {
        height: 25% !important;
    }
    .h-xl-half {
        height: 50% !important;
    }
    .h-xl-three-quarter {
        height: 75% !important;
    }
    .h-xl-full {
        height: 100% !important;
    }
    .mh-xl-full {
        max-height: 100% !important;
    }
}

