.form-floating {
  position: relative;

  > .form-control,
  > .form-select {
    height: css-var(--#{$variable-prefix}form-floating-height, $form-floating-height);
    line-height: css-var(--#{$variable-prefix}form-floating-line-height, $form-floating-line-height);
  }

  > label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; // allow textareas
    padding: css-var(--#{$variable-prefix}form-floating-padding-y, $form-floating-padding-y) css-var(--#{$variable-prefix}form-floating-padding-x, $form-floating-padding-x);
    pointer-events: none;
    border: $input-border-width solid transparent; // Required for aligning label's text with the input as it affects inner box model
    transform-origin: 0 0;
    @include transition($form-floating-transition);
  }

  // stylelint-disable no-duplicate-selectors
  > .form-control {
    padding: css-var(--#{$variable-prefix}form-floating-padding-y, $form-floating-padding-y) css-var(--#{$variable-prefix}form-floating-padding-x, $form-floating-padding-x);

    &::placeholder {
      color: transparent;
    }

    &:focus,
    &:not(:placeholder-shown) {
      padding-top: css-var(--#{$variable-prefix}form-floating-input-padding-t, $form-floating-input-padding-t);
      padding-bottom: css-var(--#{$variable-prefix}form-floating-input-padding-b, $form-floating-input-padding-b);
    }
    // Duplicated because `:-webkit-autofill` invalidates other selectors when grouped
    &:-webkit-autofill {
      padding-top: css-var(--#{$variable-prefix}form-floating-input-padding-t, $form-floating-input-padding-t);
      padding-bottom: css-var(--#{$variable-prefix}form-floating-input-padding-b, $form-floating-input-padding-b);
    }
  }

  > .form-select {
    padding-top: css-var(--#{$variable-prefix}form-floating-input-padding-t, $form-floating-input-padding-t);
    padding-bottom: css-var(--#{$variable-prefix}form-floating-input-padding-b, $form-floating-input-padding-b);
  }

  > .form-control:focus,
  > .form-control:not(:placeholder-shown),
  > .form-select {
    ~ label {
      opacity: css-var(--#{$variable-prefix}form-floating-label-opacity, $form-floating-label-opacity);
      transform: css-var(--#{$variable-prefix}form-floating-label-transform, $form-floating-label-transform);
    }
  }
  // Duplicated because `:-webkit-autofill` invalidates other selectors when grouped
  > .form-control:-webkit-autofill {
    ~ label {
      opacity: css-var(--#{$variable-prefix}form-floating-label-opacity, $form-floating-label-opacity);
      transform: css-var(--#{$variable-prefix}form-floating-label-transform, $form-floating-label-transform);
    }
  }
  // stylelint-enable no-duplicate-selectors
}
