//
// Form text
//

.form-text {
  margin-top: css-var(--#{$variable-prefix}form-text-margin-top, $form-text-margin-top);
  @include font-size($form-text-font-size);
  font-style: css-var(--#{$variable-prefix}form-text-font-style, $form-text-font-style);
  font-weight: css-var(--#{$variable-prefix}form-text-font-weight, $form-text-font-weight);
  color: css-var(--#{$variable-prefix}form-text-color, $form-text-color);
}
